table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    font-size: 1rem;
}



th {
    background-color: #04AA6D;
    color: white;
    text-align: center;
}

.card {
    padding: 10px;
    margin: 10px;
}

.title {
    text-align: center;
    font-size: xx-large;

}

.card_title {

    text-align: center;
}
